/FrontEnd/FrontEndWebApp/ClientApp/README.md filter=lfs diff=lfs merge=lfs -text
/FrontEnd/FrontEndWebApp/ClientApp/package-lock.json filter=lfs diff=lfs merge=lfs -text
/main.pdf filter=lfs diff=lfs merge=lfs -text
/FrontEnd/Mockups/Courier[[:space:]]panel.bmpr filter=lfs diff=lfs merge=lfs -text
/FrontEnd/Mockups/Employee[[:space:]]panel.bmpr filter=lfs diff=lfs merge=lfs -text
/FrontEnd/Mockups/Customer.bmpr filter=lfs diff=lfs merge=lfs -text
/FrontEnd/Mockups/Customer[[:space:]]panel.bmpr filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap.css filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.js filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/jquery/dist/jquery.js filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/jquery/dist/jquery.min.map filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/AspIdUsers.db filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/jquery/dist/jquery.slim.js filter=lfs diff=lfs merge=lfs -text
/IdentityServer/IdentityServer/wwwroot/lib/jquery/dist/jquery.slim.min.map filter=lfs diff=lfs merge=lfs -text
